
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #FFF;
}


/*
 * Base structure
 */

 * {
 margin: 0 auto;
 text-align: center;
 }

body {
<<<<<<< HEAD
  color: #FFF;
=======
 color: #686868;
>>>>>>> 7e112458e5edc2b66e7036ee583325b357a4fa82
}

#searchForm2 {
  display: none;
}

#weatherMessage {
  font-size: 5rem;
<<<<<<< HEAD
  color: #FFF;
}

.weather-info {
  border: 20px solid black;
  border-radius: 50px;
  width: 600px;
  margin: 0 auto;
  padding: 20px 20px;
}
=======

}

.weather-info {
    border: 20px solid black;
    border-radius: 50px;
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px;
}
>>>>>>> 7e112458e5edc2b66e7036ee583325b357a4fa82
