
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #FFF;
}


/*
 * Base structure
 */

 * {
 margin: 0 auto;
 text-align: center;
 background-color: #292929;
 }

body {
 color: #FFF;
}


#searchForm2 {
  display: none;
}

#weatherMessage {
  font-size: 5rem;
  color: #FFF;

}
