

 * {
 margin: 0 auto;
 text-align: center;
 }

body {
 color: #686868;
}

#searchForm2 {
  display: none;
}

#weatherMessage {
  font-size: 5rem;

}

.weather-info {
    border: 20px solid black;
    border-radius: 50px;
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px;
    display: none;
}
